@charset "UTF-8";
/*! destyle.css v1.0.15 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model */
/* ============================================ */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::before,
::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border: 0;
  border-top: 1px solid;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content */
/* ============================================ */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
  vertical-align: bottom;
  -o-object-fit: cover;
     object-fit: cover;
}

embed,
object,
iframe {
  border: 0;
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  border: 0;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px #A8A8A8 solid;
  -webkit-text-fill-color: #919191;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

button[disabled],
[type=button][disabled],
[type=reset][disabled],
[type=submit][disabled] {
  cursor: default;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove arrow in IE10 & IE11
 */
select::-ms-expand {
  display: none;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  min-width: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable] {
  outline: none;
}

/* Table */
/* ============================================ */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* Misc */
/* ============================================ */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

html {
  font-family: "Noto Sans JP", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}

body {
  color: #000000;
  font-size: 15px;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.8;
}
@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
    font-size: 0.875rem;
  }
}

a:hover {
  text-decoration: none;
}
a:hover img {
  opacity: 0.8;
}
a img {
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

button:focus,
input:focus,
optgroup:focus,
select:focus,
textarea:focus {
  outline: -webkit-focus-ring-color auto 1px;
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 1px;
}

small {
  font-size: inherit;
}

input,
select {
  font-family: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.m-wrapper {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 1000px) {
  .m-wrapper {
    max-width: 91.25%;
  }
}

.m-tellink {
  pointer-events: none;
}
@media screen and (max-width: 768px) {
  .m-tellink {
    pointer-events: auto;
    text-decoration: underline;
  }
}

.for-ie {
  display: none;
  width: 100%;
  color: #fff;
  letter-spacing: 0.05em;
  padding: 25px 4.375%;
  background-color: #e83e34;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
.for-ie .m-wrapper {
  position: relative;
  padding-right: 100px;
}
.for-ie a {
  text-decoration: underline;
}
.for-ie a:hover {
  text-decoration: none;
}
.for-ie button {
  width: 120px;
  text-align: center;
  line-height: 1;
  padding: 10px 10px 12px;
  border: 1px solid #fff;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.for-ie button:focus {
  outline: none;
}

.tCenter {
  text-align: center !important;
  width: 100%;
  display: inline-block;
}

.tRight {
  text-align: right !important;
}

.tLeft {
  text-align: left !important;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.display-inlineblock {
    display: inline-block;
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

.mT0 {
  margin-top: 0px !important;
}

.mT5 {
  margin-top: 5px !important;
}

.mT10 {
  margin-top: 10px !important;
}

.mT15 {
  margin-top: 15px !important;
}

.mT20 {
  margin-top: 20px !important;
}

.mT25 {
  margin-top: 25px !important;
}

.mT30 {
  margin-top: 30px !important;
}

.mT35 {
  margin-top: 35px !important;
}

.mT40 {
  margin-top: 40px !important;
}

.mT45 {
  margin-top: 45px !important;
}

.mT50 {
  margin-top: 50px !important;
}

.mB0 {
  margin-bottom: 0px !important;
}

.mB5 {
  margin-bottom: 5px !important;
}

.mB10 {
  margin-bottom: 10px !important;
}

.mB15 {
  margin-bottom: 15px !important;
}

.mB20 {
  margin-bottom: 20px !important;
}

.mB25 {
  margin-bottom: 25px !important;
}

.mB30 {
  margin-bottom: 30px !important;
}

.mB35 {
  margin-bottom: 35px !important;
}

.mB40 {
  margin-bottom: 40px !important;
}

.mB45 {
  margin-bottom: 45px !important;
}

.mB50 {
  margin-bottom: 50px !important;
}

.mL0 {
  margin-left: 0px !important;
}

.mL10 {
  margin-left: 10px !important;
}

.mL20 {
  margin-left: 20px !important;
}

.mL30 {
  margin-left: 30px !important;
}

.mR0 {
  margin-right: 0px !important;
}

.mR10 {
  margin-right: 10px !important;
}

.mR20 {
  margin-right: 20px !important;
}

.mR30 {
  margin-right: 30px !important;
}

.pT0 {
  padding-top: 0px !important;
}

.pT5 {
  padding-top: 5px !important;
}

.pT10 {
  padding-top: 10px !important;
}

.pT15 {
  padding-top: 15px !important;
}

.pT20 {
  padding-top: 20px !important;
}

.pT25 {
  padding-top: 25px !important;
}

.pT30 {
  padding-top: 30px !important;
}

.pT35 {
  padding-top: 35px !important;
}

.pT40 {
  padding-top: 40px !important;
}

.pT45 {
  padding-top: 45px !important;
}

.pT50 {
  padding-top: 50px !important;
}

.pB0 {
  padding-bottom: 0px !important;
}

.pB5 {
  padding-bottom: 5px !important;
}

.pB10 {
  padding-bottom: 10px !important;
}

.pB15 {
  padding-bottom: 15px !important;
}

.pB20 {
  padding-bottom: 20px !important;
}

.pB25 {
  padding-bottom: 25px !important;
}

.pB30 {
  padding-bottom: 30px !important;
}

.pB35 {
  padding-bottom: 35px !important;
}

.pB40 {
  padding-bottom: 40px !important;
}

.pB45 {
  padding-bottom: 45px !important;
}

.pB50 {
  padding-bottom: 50px !important;
}

.pL0 {
  padding-left: 0px !important;
}

.pL10 {
  padding-left: 10px !important;
}

.pL20 {
  padding-left: 20px !important;
}

.pL30 {
  padding-left: 30px !important;
}

.pR0 {
  padding-right: 0px !important;
}

.pR10 {
  padding-right: 10px !important;
}

.pR20 {
  padding-right: 20px !important;
}

.pR30 {
  padding-right: 30px !important;
}

.fadeIn {
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}
.fadeIn.is-show {
  opacity: 1;
}

.fadeInUp {
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: translate(0, 50px);
          transform: translate(0, 50px);
}
.fadeInUp.is-show {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.zoomIn {
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}
.zoomIn.is-show {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}


@media screen and (max-width: 768px) {
    .m-textsp {
        display: block;
    }
  }

.m-pc-hidden {
  display: none;
}
@media screen and (max-width: 768px) {
  .m-pc-hidden {
    display: inline-block;
  }
}

.m-sp-hidden {
  display: inline-block;
}
@media screen and (max-width: 768px) {
  .m-sp-hidden {
    display: none;
  }
}

.bk-white{
    background: #fff;
}

.visually-hidden {
  /**
   * a11y-css-resetから引用
   * https://github.com/mike-engel/a11y-css-reset
  **/
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/*******************************
Style
*******************************/
a:hover,
a img:hover {
  opacity: 0.8;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

body.is-fix {
  height: 100vh;
  overflow: hidden;
}

@media screen and (max-width: 1000px) {
  .m-wrapper {
    max-width: 88%;
  }
}
@media screen and (max-width: 768px) {
  .m-wrapper {
    padding: 0;
  }
}

.m-title {
  line-height: 40px;
  text-align: center;
  margin-bottom: 70px;
}

.m-title_jp {
  font-size: 33px;
  font-size: 2.0625rem;
  display: block;
}

.m-title_en {
  font-size: 20px;
  font-size: 1.25rem;
  letter-spacing: 0.06em;
  line-height: 1;
}

.l-container {
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  min-height: 100vh;
  position: relative;
  -webkit-font-feature-settings: "palt" 1;
          font-feature-settings: "palt" 1;
}

.l-content {
  padding-bottom: 200px;
}
@media screen and (max-width: 768px) {
  .l-content {
    padding-bottom: 80px;
  }
}

.m-border0 {
  border: 0 !important;
}

.m-borderbottom {
  border-bottom: 1px #498FEF solid;
}

.m-box-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.m-btn01 {
  max-width: 207px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  border-radius: 25px;
  color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  line-height: 48px;
  background: #1A3188;
}

.m-btn02 {
  background: transparent;
  border: 1px solid #1A3188;
  color: #1A3188;
}

.m-colorblue {
  color: #498FEF;
}

.m-colorred {
  color: #E22828;
}

.icon-price, .icon-calendar, .icon-calendar1, .icon-job, .icon-map, .icon-bag, .icon-search, .icon-dotblue, .icon-dotblue1, .icon-people {
  position: relative;
}
.icon-price:before, .icon-calendar:before, .icon-calendar1:before, .icon-job:before, .icon-map:before, .icon-bag:before, .icon-search:before, .icon-dotblue:before, .icon-dotblue1:before, .icon-people:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-size: 100%;
}

.icon-price::before {
  background: url("../img/icon_price.svg") top center no-repeat;
  width: 23px;
  height: 25px;
}

.icon-job::before {
  background: url("../img/icon_job.svg") top center no-repeat;
  width: 22px;
  height: 25px;
}

.icon-bag::before {
  background: url("../img/icon_bag.svg") top center no-repeat;
  width: 23px;
  height: 21px;
}

.icon-map::before {
  background: url("../img/icon_map.svg") top center no-repeat;
  width: 14px;
  height: 18px;
}

.icon-search::before {
  background: url("../img/img_search.svg") top center no-repeat;
  left: 31px;
  width: 21px;
  height: 22px;
  cursor: pointer;
  top: 53%;
}

.icon-calendar::before {
  background: url("../img/icon_calendar.svg") center center no-repeat;
  left: -25px;
  width: 20px;
  height: 16px;
}

.icon-calendar1::before {
  background: url("../img/icon_calendar1.svg") center center no-repeat;
  left: -25px;
  width: 25px;
  height: 20px;
}

.icon-people::before {
  background: url("../img/icon_people.svg") center center no-repeat;
  width: 25px;
  height: 23px;
}

.icon-dotblue:before {
  background: #1A3188;
  width: 10px;
  height: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

input {
  color: #919191;
}

.txt-center {
  text-align: center;
}

.txt-left {
  text-align: left;
}

.txt-right {
  text-align: right;
}

.txt-justify {
  text-align: justify;
}

.margin-auto {
  margin: auto;
}

.form-group input {
  border: 1px #A8A8A8 solid;
}

.form-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
  font-size: 0.8125rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-left: 0!important;
}
.form-checkbox label {
    position: relative;
    padding-left: 20px;
}
.form-checkbox input {
  margin-bottom: 0;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.form-checkbox input:checked ~ .checkmark {
  background-color: #1A3188;
}
.form-checkbox input:checked ~ .checkmark:after {
  display: block;
}
.form-checkbox .checkmark {
  position: absolute;
  top: 50%;
  left: 1px;
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: 2px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: 1px #A8A8A8 solid;
}
.form-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 55%;
  top: 1px;
  width: 4px;
  height: 8px;
  border: solid #fff;
  border-width: 0 1px 1px 0;
  -webkit-transform: translatex(-50%) rotate(45deg);
          transform: translatex(-50%) rotate(45deg);
}

.l-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 17px 22px;
  margin-bottom: 65px;
  background: #1A3188;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
@media screen and (max-width: 768px) {
  .l-header {
    padding: 9px 22px;
  }
}
@media screen and (max-width: 1000px) {
  .l-header .m-logo img {
    width: 150px;
  }
}
@media screen and (max-width: 768px) {
  .l-header .m-logo img {
    width: 125px;
  }
}
.l-header .m-logo__text {
  font-size: 13px;
  font-size: 0.8125rem;
  margin-left: 6px;
}
@media (max-width: 1200px) and (min-width: 768px) {
  .l-header .m-logo__text {
    display: block;
  }
}
@media screen and (max-width: 1000px) {
  .l-header .m-logo__text {
    font-size: 11px;
    font-size: 0.6875rem;
  }
}
.l-header .m-btnlogin {
  margin-left: auto;
  max-width: 156px;
  width: 100%;
  background: #fff;
  color: #1A3188;
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 36px;
  text-align: center;
  display: block;
  border-radius: 25px;
}
.l-header .m-btnlogintoppage {
  background: transparent;
  color: #fff;
  border: 1px #fff solid;
  max-width: 87px;
  width: 100%;
}
.l-header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  line-height: 1;
}
.l-header li {
  position: relative;
}
.l-header li a {
  font-size: 13px;
  font-size: 0.8125rem;
  margin-right: 30px;
  position: relative;
}
@media (max-width: 900px) and (min-width: 768px) {
  .l-header li a {
    margin-right: 12px;
  }
}
@media screen and (max-width: 768px) {
  .l-header li a {
    margin-right: 0;
  }
}
.l-header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .l-header__content {
    height: 30px;
  }
}
.l-header__glnv {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.l-header__glnv .m-logout {
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 2.6153846154;
  border-radius: 25px;
  border: 1px #fff solid;
  padding: 0 17px;
}
@media screen and (max-width: 768px) {
  .l-header__glnv .m-logout {
    margin: 34px auto 8px;
    height: 36px;
  }
}
.l-header__glnv ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .l-header__glnv ul {
    display: inherit;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
}
.l-header__glnv li a {
  font-size: 14px;
  font-size: 0.875rem;
  -webkit-font-feature-settings: "palt" 1;
          font-feature-settings: "palt" 1;
}
@media (max-width: 1100px) and (min-width: 768px) {
  .l-header__glnv li a {
    font-size: 12px;
    font-size: 0.75rem;
  }
}
@media screen and (max-width: 1000px) {
  .l-header__glnv li a {
    font-size: 11px;
    font-size: 0.6875rem;
  }
}
@media screen and (max-width: 768px) {
  .l-header__glnv li a {
    color: #fff;
    font-size: 16px;
    font-size: 1rem;
    line-height: 50px;
  }
}
.l-header__glnv li a:hover {
  border-bottom: 1px #fff solid;
}
.l-header li.is-active a {
  border-bottom: 1px #fff solid;
}

.m-notice {
  font-size: 10px;
  font-size: 0.625rem;
  padding: 0px 8px 3px;
  border-radius: 50%;
  color: #fff;
  position: absolute;
  top: 0;
  right: 5px;
  background-color: #FC5C8E;
  line-height: 18px;
}
@media screen and (max-width: 768px) {
  .m-notice {
    top: 3px;
    padding: 0 8px 1px 3px;
    text-indent: 3px;
    right: -26px;
  }
}

@media screen and (max-width: 768px) {
  .m-notice01 {
    position: absolute;
    right: 12px;
    top: 9px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    line-height: 1;
    padding: 3px 7px 5px;
    pointer-events: none;
    text-indent: 0;
  }
  .is-showlogo {
    position: relative;
    z-index: 999;
  }
  .sec-gnav {
    position: fixed;
    top: 0;
    left: -100%;
    background: #1A3188;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 100%;
    -webkit-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    z-index: 900;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-font-feature-settings: "palt" 1;
            font-feature-settings: "palt" 1;
    padding-top: 51px;
    padding-bottom: 16px;
  }
  .sec-gnav.is-showmenu {
    left: 0;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
  }
  .sec-gnav.is-showmenu li {
    width: 50%;
    text-align: center;
  }
  .sec-gnav.is-showmenu .m-item01 {
    width: 100%;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 3px 0 5px;
  }
  .sec-gnav.is-showmenu .m-item01 a {
    color: #1A3188;
    margin-left: -22px;
    letter-spacing: 0.1em;
  }
  .sec-gnav.is-showmenu .m-item01 a::after {
    content: "";
    background: url(../img/icon_ques.png) center center no-repeat;
    position: absolute;
    top: 50%;
    right: -29px;
    width: 24px;
    height: 24px;
    pointer-events: none;
    background-size: 100%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .sec-gnav.is-showmenu .m-item08, .sec-gnav.is-showmenu .m-item09, .sec-gnav.is-showmenu .m-item10 {
    width: 100%;
    position: relative;
  }
  .sec-gnav.is-showmenu .m-arrbtn {
    background: url(../img/icon_arr_02.svg) center center no-repeat;
    position: absolute;
    top: 17px;
    right: 16px;
    width: 10px;
    height: 6px;
    background-size: 100%;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    cursor: pointer;
  }
  .sec-gnav.is-showmenu .m-arrbtn-op {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  .sec-gnav.is-showmenu .m-item02 a {
    margin-right: 22px;
    letter-spacing: 0.07em;
  }
  .sec-gnav.is-showmenu .m-item02 a:after {
    content: "";
    background: url(../img/icon_01.svg) center center no-repeat;
    position: absolute;
    top: 50%;
    right: -22px;
    width: 16px;
    height: 16px;
    pointer-events: none;
    background-size: 100%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .sec-gnav.is-showmenu .m-item09 {
    line-height: 46px;
    padding-bottom: 13px;
  }
  .sec-gnav.is-showmenu .m-item10 {
    padding-top: 8px;
  }
  .sec-gnav.is-showmenu .m-item10 .m-arrbtn {
    top: 27px;
    right: 15px;
  }
  .sec-gnav.is-showmenu > ul > li {
    border-bottom: 1px #DDDDDD solid;
    border-right: 1px #DDDDDD solid;
  }
  .sec-gnav.is-showmenu .m-boxpolicy > li {
    border-bottom: 0;
    border-right: 0;
  }
  .sec-gnav.is-showmenu .m-boxpolicy > li a {
    font-size: 12px;
    font-size: 0.75rem;
  }
  .sec-gnav .m-parent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sec-gnav .m-parent li {
    width: auto;
  }
  .sec-gnav .m-parent li a {
    font-size: 14px;
    font-size: 0.875rem;
    position: relative;
    line-height: 2.9;
  }
  .sec-gnav .m-parent li:not(:last-child) a {
    padding-right: 12px;
    margin-right: 12px;
  }
  .sec-gnav .m-parent li:not(:last-child) a::after {
    content: "";
    background: #fff;
    position: absolute;
    top: 60%;
    right: 0;
    width: 1px;
    height: 16px;
    pointer-events: none;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .sec-gnav .m-itemparent02 a:after {
    display: none;
  }
  .sec-gnav .m-boxpolicy li:not(:last-child) a {
    padding-right: 12px;
    margin-right: 21px;
  }
  .sec-gnav .m-boxpolicy li:not(:last-child) a:after {
    height: 12px;
  }
  .sec-gnav .m-parent01 {
    max-width: 310px;
    width: 100%;
    margin: auto;
  }
  .sec-gnav .m-parent01 li {
    width: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .sec-gnav .m-parent01 li.m-itemparent02 a {
    border-right: 0;
  }
  .sec-gnav .m-parent01 li a {
    letter-spacing: 0.1em;
  }
  .sec-gnav .m-parent01 .m-itemparent01 {
    margin-left: 45px;
  }
  .sec-gnav .m-parent01 .m-itemparent03, .sec-gnav .m-parent01 .m-itemparent04 {
    position: relative;
    top: -8px;
  }
  .sec-gnav .m-parent02 {
    display: none;
    margin-top: -6px;
  }
  .sec-gnav__btn {
    width: 24px;
    height: 22px;
    margin-left: auto;
    cursor: pointer;
    margin-top: 8px;
  }
  .sec-gnav__btn span {
    width: 24px;
    height: 2px;
    background: #fff;
    display: block;
    margin-bottom: 5px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .sec-gnav__btn.is-menuopen {
    position: absolute;
    right: 10px;
    top: 13px;
    z-index: 999;
    margin-top: 0;
  }
  .sec-gnav__btn.is-menuopen span {
    background: #fff;
  }
  .sec-gnav__btn.is-menuopen span:nth-child(1) {
    -webkit-transform: translate(-14px, 11px) rotate(-28deg);
            transform: translate(-14px, 11px) rotate(-28deg);
  }
  .sec-gnav__btn.is-menuopen span:nth-child(2) {
    opacity: 0;
  }
  .sec-gnav__btn.is-menuopen span:nth-child(3) {
    -webkit-transform: translate(-14px, -3px) rotate(28deg);
            transform: translate(-14px, -3px) rotate(28deg);
  }
}
.form-group {
  max-width: 448px;
  width: 100%;
  margin: 0 auto 40px;
}
.form-group input {
  width: 100%;
  border-radius: 5px;
  font-size: 16px;
  font-size: 1rem;
  padding-left: 16px;
}

.m-forgetpassword {
  text-align: center;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.625;
  color: #498FEF;
  width: 100%;
  display: inline;
}

.c-btnsubmit {
  text-align: center;
  display: block;
  max-width: 207px;
  width: 100%;
  background: #1A3188;
  margin: auto;
  color: #fff;
  border-radius: 25px;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 2.7777777778;
}
@media screen and (max-width: 768px) {
  .c-btnsubmit {
    max-width: 200px;
  }
}

.sec-search .m-title {
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .sec-search .m-wrapper {
    max-width: 100%;
    padding: 0;
  }
}
.sec-search .m-search {
  background: #F5F5F5;
  padding: 45px 0;
  margin-bottom: 22px;
}
@media screen and (max-width: 768px) {
  .sec-search .m-search {
    padding: 33px 24px 26px;
  }
}
.sec-search .m-search__form {
  width: 71%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}
@media screen and (max-width: 768px) {
  .sec-search .m-search__form {
    display: inherit;
    max-width: 100%;
  }
}
.sec-search .m-search label {
  width: 29%;
}
.sec-search .m-search .m-boxselect {
  width: 71%;
}
@media screen and (max-width: 768px) {
  .sec-search .m-search .m-boxselect {
    width: 100%;
  }
}
.sec-search .m-search .c-btnsubmit {
  margin-left: 35px;
  max-width: 200px;
}
@media screen and (max-width: 768px) {
  .sec-search .m-search .c-btnsubmit {
    margin: 25px auto 0;
  }
}
.sec-search .m-search .m-textselect {
  color: #A8A8A8;
  cursor: default;
  position: absolute;
  top: -12px;
  left: 0;
  width: 100%;
}
.sec-search .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px #A8A8A8 solid;
  border-radius: 5px;
  background: #fff;
  margin-bottom: 0;
  padding-left: 12px;
  padding-right: 12px;
  height: 38px;
  max-width: 229px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .sec-search .form-group {
    max-width: 100%;
    margin-bottom: 10px;
  }
}
.sec-search .m-seclect01 {
  width: 100%;
  display: block;
  color: #A8A8A8;
  width: 100%;
}
.sec-search .form-group01 {
  margin-left: 14px;
}
@media screen and (max-width: 768px) {
  .sec-search .form-group01 {
    margin-left: 0;
  }
}
.sec-search .m-boxselect {
  position: relative;
}
@media screen and (max-width: 768px) {
  .sec-search .m-boxselect {
    text-align: right;
  }
}
.sec-search .m-boxselect:after {
  content: "";
  background: url("../img/arr_bottom.svg") center center no-repeat;
  position: absolute;
  top: 50%;
  right: 0;
  width: 8px;
  height: 5px;
  pointer-events: none;
  background-size: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .sec-search .m-boxselect:after {
    display: none;
  }
}
.sec-search .m-boxselect select:focus {
  outline: none;
}

.m-information__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 3.5714285714;
}
@media screen and (max-width: 768px) {
  .m-information__filter {
    display: inherit;
  }
}

.m-filter a {
  font-size: 13px;
  font-size: 0.8125rem;
  border-radius: 15px;
  color: #fff;
  text-align: center;
  padding: 4px 17px;
}

.m-highestorder {
  background: #1A3188;
  margin-left: 7px;
  margin-right: 6px;
}

.m-loginorder {
  background: #A2A2A2;
}

.m-switch {
  position: relative;
  display: inline-block;
  width: 43px;
  height: 23px;
}
.m-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.m-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.m-slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 3px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.m-slider.m-round {
  border-radius: 34px;
}
.m-slider:before {
  border-radius: 50%;
}

.m-btnfilter input:checked + .m-slider {
  background-color: #2196F3;
}

.m-btnfilter input:focus + .m-slider {
  -webkit-box-shadow: 0 0 1px #2196F3;
          box-shadow: 0 0 1px #2196F3;
}

.m-btnfilter input:checked + .m-slider:before {
  -webkit-transform: translateX(26px);
          transform: translateX(26px);
  left: 0;
}

.m-btnfilter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.m-textintroduction {
  margin-right: 5px;
}

.m-photo {
  margin-right: 6px;
}

.box-filter01 {
  margin-right: 13px;
}

.m-information__filter {
  margin-bottom: 36px;
}
.m-information__list {
  margin-bottom: 45px;
}
.m-information__list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.m-information__list li {
  width: 29.5%;
  margin-right: 5.75%;
  margin-bottom: 41px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .m-information__list li {
    width: 100%;
    margin-right: 0;
  }
}
.m-information__list li:nth-child(3n+3) {
  margin-right: 0;
}

.m-titlelist {
  border-bottom: 1px #DDDDDD solid;
}

.m-inforlogo__img {
  width: 175px;
  height: 175px;
  margin: auto;
  text-align: center;
  display: block;
  border-radius: 50%;
  margin-bottom: 13px;
}

.m-checklike__input {
  position: absolute;
  left: -100vw;
}
.m-checklike__input:checked + label svg path {
  fill: #1A3188;
}

.m-checklike__labe {
  color: #aab8c2;
  font-size: 20px;
  font-size: 1.25rem;
  cursor: pointer;
}

.m-titlelist {
  text-align: center;
  position: relative;
  margin-bottom: 16px;
  padding-bottom: 5px;
}

.m-like {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.m-like label svg {
  width: 27px;
  height: 24px;
}

.m-nickname {
  font-size: 26px;
  font-size: 1.625rem;
  line-height: 1.6923076923;
}

.m-areainfor {
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 2;
}

.m-inforoccupation {
  color: #1A3188;
  background: #EBEDF4;
  display: inline-block;
  border-radius: 15px;
  padding: 1px 16px;
  margin-bottom: 13px;
}

.c-pagination ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #1A3188;
}
.c-pagination li a {
  border: 1px #1A3188 solid;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 4px;
  font-size: 14px;
  font-size: 0.875rem;
}
@media screen and (max-width: 768px) {
  .c-pagination li a {
    font-size: 12px;
    font-size: 0.75rem;
    width: 30px;
    height: 30px;
  }
}
.c-pagination li.active a, .c-pagination li:hover a {
  background: #1A3188;
  color: #fff;
  opacity: 1;
}
.c-pagination .m-dot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.c-pagination .prev:before, .c-pagination .next:before {
  content: "";
  border: solid #1A3188;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 4px;
  position: absolute;
  top: 48%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.c-pagination .next:before {
  top: 50%;
}
.c-pagination .m-right {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.c-pagination .m-left {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.l-viewjob .l-header {
  margin-bottom: 37px;
}
.l-viewjob .sec-search .m-title {
  margin-bottom: 18px;
}
.l-viewjob .sec-search .m-search {
  padding: 33px 0 26px;
  margin-bottom: 34px;
}
@media screen and (max-width: 768px) {
  .l-viewjob .sec-search .form-group {
    margin-bottom: 8px;
  }
}
.l-viewjob .sec-search .m-seclect01 {
  letter-spacing: 0.15em;
}
.l-viewjob .sec-search .m-boxdate input {
  letter-spacing: 0.05em;
}
.l-viewjob .m-title_jp {
  font-size: 26px;
  font-size: 1.625rem;
  line-height: 1;
  margin-bottom: -4px;
}
.l-viewjob .m-title_en {
  font-size: 13px;
  font-size: 0.8125rem;
}
.l-viewjob .m-search__form {
  width: 95%;
}
.l-viewjob .m-imgviewjob {
  width: 100%;
  text-align: center;
  margin-bottom: 13px;
}
.l-viewjob .m-titlelist {
  border: 0;
}
.l-viewjob .m-boxjob {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5px;
}
.l-viewjob .m-inforoccupation {
  margin-bottom: 0;
}
.l-viewjob .m-searchjob {
  letter-spacing: 0.05em;
}
.l-viewjob .m-selfintroduction {
  letter-spacing: 0.14em;
}
.l-viewjob .m-inforrank .m-address {
  padding-left: 22px;
}
.l-viewjob .m-information__list {
  margin-bottom: 0;
}
.l-viewjob .m-information__list li {
  margin-bottom: 16px;
}
.l-viewjob .m-btn01 {
  max-width: 155px;
  font-size: 14px;
  line-height: 38px;
  margin-top: 30px;
}
@media screen and (max-width: 768px) {
  .l-viewjob .m-btn01 {
    margin-top: 3px;
  }
}
.l-viewjob .l-content {
  padding-bottom: 55px;
}
.l-viewjob .l-footer {
  padding: 13px 0;
}

.m-price {
  color: #1A3188;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 700;
  border-bottom: 1px #DDDDDD solid;
  margin-bottom: 9px;
  padding-bottom: 8px;
  font-family: "Roboto", sans-serif;
  line-height: 1.3;
  letter-spacing: 0.02em;
}

.m-boxlike label svg {
  width: 18px;
  height: 16px;
}

.m-boxlike {
  position: absolute;
  top: 24px;
  right: 8px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #fff;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5px;
}

.l-footer {
  position: relative;
  border-top: 1px #DDDDDD solid;
  padding: 20px 0;
  color: #868686;
  font-size: 12px;
  font-size: 0.75rem;
  letter-spacing: 0.01em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: center;
  margin-top: auto;
}

.m-footer__menu {
  position: absolute;
  top: 0;
  right: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .m-footer__menu {
    position: inherit;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.m-footer__menu li:not(:last-child) a {
  border-right: 1px #818181 solid;
  margin-right: 19px;
  padding-right: 19px;
}

.m-boxdate input {
  padding-left: 0;
}
.m-boxdate input:focus {
  outline: none;
}
.m-boxdate input::-webkit-input-placeholder {
  color: #A8A8A8;
}
.m-boxdate input::-moz-placeholder {
  color: #A8A8A8;
}
.m-boxdate input:-ms-input-placeholder {
  color: #A8A8A8;
}
.m-boxdate input::-ms-input-placeholder {
  color: #A8A8A8;
}
.m-boxdate input::placeholder {
  color: #A8A8A8;
}

.sec-login .form-group input {
  border: 1px #A8A8A8 solid;
  height: 46px;
  margin-bottom: 16px;
  color: #919191;
}

.m-error {
    color: #f00;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 300;
    font-style: italic;
    padding-left: 20px;
}

.m-error li {
    margin-bottom: 5px;
   list-style-type: disc;
}

.is-invalid {
    border: 1px #f00 solid!important;
}

.sec-signupconfirm .m-boxformgroup input {
    pointer-events: none;
}

.m-textlogout {
    text-align: center;
    margin-bottom: 20px;
}

.m-error01 {
   max-width: 100%;
}

.m-successpass {
    text-align: center;
    color: #f00;
}

.m-successpassword {
    text-align: center;
    width: 100%;
    display: inline-block;
    margin-bottom: 20px;
    font-weight: 300;
    font-style: italic;
    font-size: 18px;
}
.m-boxpass {
  text-align: center;
  margin-bottom: 71px;
}